In [25]:
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
# from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = load_boston()

In [5]:
type(dataset)

sklearn.utils.Bunch

In [8]:
df = pd.read_csv('data/home_data.csv')

In [9]:
df.shape

(21613, 21)

In [10]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [12]:
X = pd.DataFrame()
X['bedrooms'] = df['bedrooms']
X['sqft_living'] = df['sqft_living']
X['floors'] = df['floors']
X['condition'] = df['condition']
X['grade'] = df['grade']

In [14]:
X.head()

   bedrooms  sqft_living  floors  condition  grade
0         3         1180     1.0          3      7
1         3         2570     2.0          3      7
2         2          770     1.0          3      6
3         4         1960     1.0          5      7
4         3         1680     1.0          3      8

In [15]:
y = df['price']

In [16]:
y.head()

0    221900
1    538000
2    180000
3    604000
4    510000
Name: price, dtype: int64

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [18]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(17290, 5)
(17290,)
(4323, 5)
(4323,)

In [19]:
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
regression.score(X_train,y_train)

0.55204174264218742

In [22]:
regression.predict([[3,1180,1.0,3,7]])

array([ 285149.81081091])

In [23]:
y_pred = regression.predict(X_test)

In [24]:
y_pred

array([ 447015.84601333,  376224.14069034,  494441.87371934, ...,
        695012.30102284,  710522.32794594,  241641.47120292])

In [27]:
mean_squared_error(y_test,y_pred)

57947567643.073547